.docContainer {
    display: flex;
    align-items: flex-start;
}

.docContext {
    width: 50vw;
    margin: 0 12vw 0 8vw;
    align-self: center;
}

.docNavigation {
    user-select: none;
    cursor: pointer;
    width: 12vw;
    height: 640px;
    overflow: hidden;
    margin-right: 4vw;
}

.docNavigation > span {
    vertical-align: middle;
    display: table;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid white;
    padding: 4px 12px;
    border-radius: 99px;
    transition: border .5s, color .5s, background-color .5s;
}

.docNavigation > span:hover {
    border: 1px solid black;
    color: white;
    background-color: black;
}

.navButtons {
    user-select: none;
    align-self: center;
}

.shifter {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    cursor: pointer;
}

.shifter > i {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper {
    background-color: black;
    margin-bottom: 10px;
}

.upper > i {
    color: white;
}

.lower {
    background-color: white;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    margin-top: 10px;
}

.lower > i {
    color: black;
}

.title, .paragraph, .functionNode, .outputNode {
    user-select: none;
    display: table;
    margin-bottom: 60px;
}

.title {
    font-family: 'Ubuntu';
    font-size: 3rem;
}

.paragraph {
    font-size: 1.4rem;
}

.functionNode {
    font-size: 1.4rem;
    padding: 2% 2%;
    border-radius: 8px;
    cursor: pointer;
    line-height: 2rem;
    border: 1px solid black;
    transition: color .5s, background-color .5s;
}

.functionNode:hover {
    color: white;
    background-color: black;
}

.outputNode {

}

.functionNode, .outputNode {
    font-family: 'Inconsolata';
}

.bold {
    font-weight: bold;
}