@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.componentAdjuster {
    margin: 4vw;
    width: 92vw;
}