@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

.headerContainer {
    height: 140px;
    width: 100vw;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div {
    display: inline-block;
}
