.linksContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 28vw;
    cursor: pointer;
}

.linksContainer > div {
    height: 60px;
    width: 60px;
    border-radius: 99px;
    border: 1px solid white;
    transition: color .5s, background-color .5s;
    color: black;
}

.linksContainer > div:hover {
    color: white;
    background-color: black;
}

.linksContainer > div > i {
    color: inherit;
    font-size: 1.5rem;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downloadButton {
    font-family: 'Assistant';
    border: 2px solid black;
    background-color: white;
    border-radius: 99px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    font-size: 1rem;
    transition: color .5s, background-color .5s;
    cursor: pointer;
}

.downloadButton:focus {
    outline: none;
}

.downloadButton:hover {
    color: white;
    background-color: black;
}

@media screen and (max-width: 1700px) {
    .downloadButton {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .linksContainer {
        display: none;
    }
}