.responsiveLayer {
    display: table-cell;
}

.menuContainer > div {
    font-family: "Assistant";
    margin: 0 1.8vw;
}

.menuContainer > div {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 99px;
    border: 1px solid white;
    transition: color .5s, background-color .5s, border .5s;
}

.menuContainer > div:hover {
    border: 1px solid black;
    border-radius: 99px;
    color: white;
    background-color: black;
    font-weight: bold;
}

.hamburgerIcon {
    font-size: 2rem;
    cursor: pointer;
    float: right;
    display: none;
}

.menuContainer > .

@media screen and (max-width: 900px) {
    .hamburgerIcon {
        display: inline-block;
    }

    .menuContainer {
        display: none;
    }

    .responsiveLayer {
        width: 93vw;
        position: absolute;
        top: 25%;
        left: 0;
    }
}