@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

.productContainer {
    font-family: 'Sulphur Point';
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.logo {
    font-size: 4rem;
}

.version {
    font-size: 1rem;
}

@supports (-webkit-text-stroke: 1px black) {
    .logo {
        -webkit-text-stroke: 1px white;
        color: black;
        transition: -webkit-text-stroke .5s, color .5s;
    }

    .logo:hover {
        -webkit-text-stroke: 1px black;
        color: white;
    }
  }