.canvasContainer {
    font-family: 'Inconsolata';
    width: 28vw;
    height: 20vw;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.codeArea {
    text-align: left;
    width: 85%;
    height: 85%;
    margin-top: 7%;
    line-height: 20px;
}

.code, .output {
    display: block;
    color: black;
}

.output {
    position: relative;
    top: 50px;
}