.featureTextContainer {
    width: 30vw;
    margin-right: 6vw;
}

.featureTextContainer > .textTitle {
    font-family: "Ubuntu";
    font-size: 4rem;
    margin-bottom: 40px;
    color: white;
    animation: colorChange 1s linear 1 alternate forwards;
}

@keyframes colorChange {
    from {color: white}
    to {color: black}
}

.featureTextContainer > .textBody {
    line-height: 2rem;
    transition: color 0.3s ease;
    color: white;
    font-size: 1.2rem;
    animation: colorChange 1s linear .5s 1 alternate forwards;
    
}