.shifterContainer {
    margin-right: 12vw;
    user-select: none;
}

.shifter {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    cursor: pointer;
}

.shifter > i {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper {
    background-color: black;
    margin-bottom: 10px;
}

.upper > i {
    color: white;
}

.lower {
    background-color: white;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    margin-top: 10px;
}

.lower > i {
    color: black;
}